input {
   border-color: rgb(184, 184, 184);
   border-width: 1px;
   width: 40px;
}
table {
   letter-spacing: 2px;
}
.col-first:nth-child(2) {
   min-width: 100px;
}

th span {
   text-decoration: overline;
}