body {
   background-color: bisque;
}
h1 { text-align: center; }
.container {
   width: 60%;
   height: 100%;
   margin: 20px auto;
   background-color: rgb(146, 224, 198);
   border-radius: 20px;
   box-sizing: border-box;
}
.col-inputan {
   margin: 20px;
   margin-left: 30px;
   float: left;
}
.col-info-data {
   float: left;
   margin-top: 15px;
}
textarea {
   resize: none;
   overflow: hidden;
   min-height: 50px;
   /* max-height: 100px; */
}
.table-container {
   display: flex;
   margin: 20px auto;
   padding: 20px 0;
   width: 90%;
   justify-content: space-evenly;
   visibility: hidden;
}
table {
   display: none;
   text-align: center;
   border-width: 2px;
   border-collapse: collapse;
}
button { display: block; }
.clear {
   clear: both;
}
.row-loader {
   display: flexbox;
   justify-content: center;
   text-align: center;
}

.loader {
   margin: auto;
   border: 5px solid #f3f3f3;
   border-radius: 50%;
   border-top: 5px solid #3498db;
   width: 40px;
   height: 40px;
   /* -webkit-animation: spin 2s linear infinite;  */
   /* animation: spin .5s linear 2; */
 }
 
 /* Safari */
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }